@import 'variable.scss';
@import 'mixins.scss';

.navbar {
    background-color: transparent;
    border: none;
    height: 100px;
    
    .navbar-brand {
        padding-left: 0;
    }

    #logo {
        width: 200px;
    }

    .navbar-nav {
        display: flex;
        align-items: center;

        & > li {
            font-family: $font-body;
            font-size: 15px;
            color: $black-o-8;
        }

        .user-dropdown li a {
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 14px;

            i {
                font-size: 15px;
                vertical-align: middle;
                margin-right: 3px;
            }
        }
    }
}