<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Menus</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li class="active">Menus</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="box-title">Menus</h3>    
                </div>
                <div class="col-md-6">
                    <div class="dropdown show pull-right">
                        <div class="dropdown">
                            <button class="btn btn-info waves-effect waves-light btn-raised dropdown-toggle" type="button" data-toggle="dropdown">
                                Filter: 
                                <span class="filterLabel" *ngIf="currentFilter == 0">All</span>
                                <span class="filterLabel" *ngIf="currentFilter == 1">Approved</span>
                                <span class="filterLabel" *ngIf="currentFilter == 2">Needs Approval</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li (click)="filter(0)"><a href="javascript:void(0)">All</a></li>
                                <li (click)="filter(1)"><a href="javascript:void(0)">Approved</a></li>
                                <li (click)="filter(2)"><a href="javascript:void(0)">Needs Approval</a></li>
                            </ul>
                        </div>
                     </div>
                </div>

                <hr>
            
                <div class="m-t-30">
                    <div class="col-md-12">
                        <table id="table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Vendor</th>
                                    <th>Date Created</th>
                                    <th class="text-center">Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr #vendors *ngFor="let menu of menusList">
                                    <td>{{ menu.vendorDTO.firstName + " " + menu.vendorDTO.lastName }}</td>
                                    <td>{{ menu.dateCreated | date:'dd-MMM-yyyy' }}</td>
                                    <td class="text-center">
                                        <span *ngIf="menu.approved == 0" class="label label-danger">Needs Approval</span>
                                        <span *ngIf="menu.approved == 1" class="label label-success">Approved</span>
                                    </td>
                                    <td>
                                        <a routerLink="/admin/menus/view/{{ menu.id }}">
                                            <button class="btn btn-success btn-outline btn-circle m-r-5 p-t-0 p-b-0"
                                                data-toggle="tooltip" data-placement="top" title="View Menu">
                                                <i class="mdi mdi-eye-outline"></i>
                                            </button>
                                        </a>

                                        <button [swal]="removeSwal" (confirm)="remove(menu.id)" class="btn btn-danger btn-outline btn-circle m-r-5 p-t-0 p-b-0" 
                                            data-toggle="tooltip" data-placement="top" title="Remove">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <swal 
                            #removeSwal 
                            title="Remove?" 
                            text="Are you sure you want to remove this menu?" 
                            type="question"
                            [showCancelButton]="true" 
                            confirmButtonText="Yes, Remove it"
                            confirmButtonColor="#f44336">
                        </swal>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>