@import '../../../../assets/scss/styles.scss';
@import '../../../../assets/plugins/slick/slick.scss';
@import '../../../../assets/plugins/slick/slick-theme.scss';
@import '../../../../assets/plugins/magic-check/css/magic-check.min.css';

.customer-details-container {
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 2px solid $black-o-01;
    }

    .customer-details-text {
        font-family: $font-heading;
    }

    .form-container {
        background-color: $black-o-01;
        padding: 20px;

        .gender-label-radio {
            font-weight: normal;
            font-family: $font-body;
            margin-bottom: 0;
        }

        .gender-label {
            font-family: $font-heading;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 5px;
            font-weight: 700;
            color: $black-o-7;
            font-size: 16px;
        }
        
        .lblInputs {
            font-family: $font-heading;
            color: $black-o-7;
            font-size: 16px;
        }

        .form-control, .radio-inline {
            border-radius: 0;
            font-family: $font-body;
        }        

        .btnSubmit {
            display: block;
            width: 40%;
            background-color: $pink;
            font-family: $font-body;
            font-size: 17px;
            padding: 10px 20px;
            color: $white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }   
}

.order-container {
    .title-text {
        font-family: $font-heading;
    }

    img {
        width: 300px;
    }

    span {
        font-family: $font-body;
        display: block;
        color: $black-o-7;

        &.option {
            margin-top: 10px;
        }

        &.title {
            font-family: $font-heading;
            font-size: 20px;
            margin-top: 10px;
        }

        &.description {
            font-size: 14px;
            margin-bottom: 10px;
        }

        &.price {
            font-size: 20px;
            font-family: $font-heading;
        }

        &.lay-away {
            font-weight: bold;
        }
    }
}

.has-error {
    &.radio-button-container {
        border: 1px solid #d9534f !important;
    }

    .form-control {
        border: 1px solid #d9534f !important;
    }
}    

.has-success{
    &.radio-button-container {
        border: 1px solid #2ecc71 !important;
    }

    .form-control {
        border: 1px solid #2ecc71 !important;
    }
}

.radio-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34px;
    background-color: $white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


/deep/ {
    .slick-dots li button:before {
        font-size: 10px !important;
    }   
    
    .slick-slide {
        position: relative;
    }

    .image-carousel {
        height: 200px;
        background: #eee no-repeat center;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 3px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}