<div class="add-border-bottom">
    <div class="container">
        <user-navbar></user-navbar>
    </div>    
</div>

<div class="container m-t-30 m-b-40">
    <div class="row">
        <div class="col-md-8">
            <div class="customer-details-container">
                <h2 class="customer-details-text">Customer Details</h2>
                <hr />
    
                <div class="form-container">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="gender-label">Gender</span>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" checked>Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Female
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtFirstName">First Name</label>
                                    <input type="text" class="form-control" id="txtFirstName" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtLastName">Last Name</label>
                                    <input type="text" class="form-control" id="txtLastName" required>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtAddress">Address</label>
                                    <input type="text" class="form-control" id="txtAddress" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtCity">City / Municipality</label>
                                    <input type="text" class="form-control" id="txtCity" required>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtZipCode">Zip Code</label>
                                    <input type="text" class="form-control" id="txtZipCode" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtBirthdate">Birth date</label>
                                    <input type="text" class="form-control" id="txtBirthdate" required>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtEmailAddress">Email Address</label>
                                    <input type="text" class="form-control" id="txtEmailAddress" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lblInputs" for="txtContact">Contact No.</label>
                                    <input type="text" class="form-control" id="txtContact" required>
                                </div>
    
                                <button type="button" class="btn btn-block btnSubmit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="order-container">
                <h2 class="title-text">You're almost done!</h2>
                <img src="assets/image/sample/dish1.png" />
    
                <span class="option">Option 1</span>
                <span class="title">Western Style Dishes</span>
                <span class="description">Over 30 years of culinary delight experience</span>
                <span class="price">P16, 000</span>
                <span class="lay-away">*Available on Lay-Away</span>
            </div>
        </div>
    </div>
</div>

<user-footer></user-footer>