<div class="add-border-bottom">
    <div class="container">
        <user-navbar></user-navbar>
    </div>    
</div>

<div class="container m-t-30 m-b-40">
    <div class="row">
        <div class="col-md-8">
            <div class="customer-details-container">
                <h2 class="customer-details-text">Customer Details</h2>
                <hr />
    
                <div class="form-container">
                    <form [formGroup]="forms" (ngSubmit)="checkout()">    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('firstName')">
                                    <label class="lblInputs" for="txtFirstName">First Name</label>
                                    <input type="text" class="form-control" id="txtFirstName" formControlName="firstName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('lastName')">
                                    <label class="lblInputs" for="txtLastName">Last Name</label>
                                    <input type="text" class="form-control" id="txtLastName" formControlName="lastName">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="gender-label">Gender</span>
                                    <div class="radio-button-container" [ngClass]="displayFieldCss('gender')">
                                        <div>
                                            <input class="magic-radio" type="radio" value="0" id="male" name="gender" formControlName="gender">
                                            <label class="gender-label-radio" for="male">Male</label>
                                        </div>

                                        <div>
                                            <input class="magic-radio" type="radio" value="1" id="female" name="gender" formControlName="gender">
                                            <label class="gender-label-radio" for="female">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('address')">
                                    <label class="lblInputs" for="txtAddress">Address</label>
                                    <input type="text" class="form-control" id="txtAddress" formControlName="address">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('city')">
                                    <label class="lblInputs" for="txtCity">City / Municipality</label>
                                    <input type="text" class="form-control" id="txtCity" formControlName="city">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('zipCode')">
                                    <label class="lblInputs" for="txtZipCode">Zip Code</label>
                                    <input type="text" class="form-control" id="txtZipCode" formControlName="zipCode">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('emailAddress')">
                                    <label class="lblInputs" for="txtEmailAddress">Email Address</label>
                                    <input type="text" class="form-control" id="txtEmailAddress" formControlName="emailAddress">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('contact')">
                                    <label class="lblInputs" for="txtContact">Contact No.</label>
                                    <input type="text" class="form-control" id="txtContact" formControlName="contact">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-block btnSubmit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="order-container">
                <h2 class="title-text">You're almost done!</h2>
                <div id="menu-images">
                    <div class="image-carousel" *ngFor="let image of menu.menuImages;">
                        <img src="{{ imagePath + image }}" alt="Image of {{ menu.styleOfCookingDescription }}">
                    </div>
                </div>
    
                <span class="option">Option 1</span>
                <span class="title">{{ menu.styleOfCookingDescription }}</span>
                <span class="description">{{ menu.specialtyDescription }}</span>
                <span class="price">P {{ menu.priceFourMainCourse | number: '2.'  }}</span>
                <span class="lay-away">*Available on Lay-Away</span>
            </div>
        </div>
    </div>
</div>

<user-footer></user-footer>