@import '../../../../assets/scss/styles.scss';

.customer-details-container {
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 2px solid $black-o-01;
    }

    .customer-details-text {
        font-family: $font-heading;
    }

    .form-container {
        background-color: $black-o-01;
        padding: 20px;

        .gender-label {
            font-family: $font-heading;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 5px;
            font-weight: 700;
            color: $black-o-7;
            font-size: 16px;
        }
        
        .lblInputs {
            font-family: $font-heading;
            color: $black-o-7;
            font-size: 16px;
        }

        .form-control, .radio-inline {
            border-radius: 0;
            font-family: $font-body;
        }        

        .btnSubmit {
            font-family: $font-body;
            background-color: $pink;
            padding: 10px 20px;
            font-size: 17px;
            color: $white;
        }
    }   
}

.order-container {
    .title-text {
        font-family: $font-heading;
    }

    img {
        width: 300px;
    }

    span {
        font-family: $font-body;
        display: block;
        color: $black-o-7;

        &.option {
            margin-top: 10px;
        }

        &.title {
            font-family: $font-heading;
            font-size: 20px;
            margin-top: 10px;
        }

        &.description {
            font-size: 14px;
            margin-bottom: 10px;
        }

        &.price {
            font-size: 20px;
            font-family: $font-heading;
        }

        &.lay-away {
            font-weight: bold;
        }
    }
}
