<div class="add-border-top">
    <div class="container footer">
        <div class="row">
            <div class="col-md-3">
                <h4 class="font-heading">shoook</h4>
                <br/>

                <a href="#" class="link">Help</a>
                <a href="#" class="link">Policies</a>
                <a href="#" class="link">Terms</a>
                <a href="#" class="link">Privacy</a>
            </div>
            <div class="col-md-3">
                <h4 class="font-heading">shoook</h4>
                <br/>

                <a href="#" class="link">Trust & Safety</a>
                <a href="#" class="link">Site Map</a>
            </div>
            <div class="col-md-3">
                <h4 class="font-heading">Hosting</h4>
                <br/>

                <a href="#" class="link">Why becoming a vendor?</a>
                <a href="#" class="link">Responsible Hosting</a>
                <a href="#" class="link">Perks</a>
            </div>
            <div class="col-md-3">
                <h4 class="font-heading">Social Media</h4>
                <br/>

                <a href="#" class="link">Why becoming a vendor?</a>
                <a href="#" class="link">Responsible Hosting</a>
                <a href="#" class="link">Perks</a>
            </div>
        </div>
    </div>
</div>