<div id="landing-background">
    <div class="container">
        <user-navbar></user-navbar>

        <div id="search-card">
            <h3 class="title">FIND CATERERS ON SHOOOK</h3>
            <p class="tagline">Discover an entire lifestyle.</p>
            <br />
    
            <form>
                <div class="form-group">
                    <label for="txtOccassion">Type of Occassion</label>
                    <input type="text" class="form-control" id="txtOccassion" placeholder="e.g. weddings, fiesta, birthdays, debut" required>
                </div>
                <div class="form-group">
                    <label for="txtDate">Date</label>
                    <input type="text" class="form-control" id="txtDate" required>
                </div>
    
                <div class="form-group">
                    <label for="txtTime">Time</label>
                    <input type="text" class="form-control" id="txtTime" required>
                </div>
    
                <div class="form-group">
                    <label for="txtLocation">Location</label>
                    <input type="text" class="form-control" id="txtLocation" placeholder="e.g. Cebu City" required>
                </div>
    
                <div class="form-group">
                    <label for="txtGuest">Number of guest</label>
                    <select class="form-control" id="txtGuest" required>
                        <option selected disabled>-- Select Number of Guest --</option>
                        <option value="50">50 Guest</option>
                        <option value="100">100 Guest</option>
                        <option value="200">200 Guest</option>
                        <option value="300">300 Guest</option>
                        <option value="500">500 Guest</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-block btnSearch">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div id="testimonial">
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/birthday-1.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/event-1.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/birthday-2.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/event-2.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/wedding-1.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/birthday-3.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/event-3.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/event-4.jpg">
        </div>
        <div>
            <p class="text-testimonial">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <span class="from">— Andrew</span>
            </p>
            <img src="assets/image/sample/wedding-2.jpg">
        </div>
    </div>

    <div id="how-it-works">
        <h2 class="title">HOW IT WORKS?</h2>

        <div id="flex-container">
            <div class="item">
                <img src="assets/image/icon-register.png">
                <div class="card">
                    <p class="card-title">Register</p>
                    <p class="card-description">Sign-up here to start creating your life event</p>
                </div>
            </div>

            <div class="item">
                <img src="assets/image/icon-service.png">
                <div class="card">
                    <p class="card-title">Pick A Service</p>
                    <p class="card-description">From Catering, Debut,, Birthday and many more</p>
                </div>
            </div>

            <div class="item">
                <img src="assets/image/icon-pay.png">
                <div class="card">
                    <p class="card-title">Pay</p>
                    <p class="card-description">Pay via lay-away plan to our wide range of payment center across the country. Click here to see the <a href="#">list</a></p>
                </div>
            </div>
        </div>
    </div>
</div>   

<user-footer></user-footer>