<div class="add-border-bottom">
    <div class="container">
        <user-navbar></user-navbar>
    </div>    
</div>

<div class="container sharing-description-container">
    <div class="row">
        <div class="col-md-7">
            <p class="title">Choose your next life moments</p>
            <p class="description">Give your friends ₱1,600 to try Shoook and you will also get ₱600 in booking credit when they take their first booking.</p>

            <button class="btn btn-invite-friends">Invite Friends</button>
        </div>
        <div class="col-md-5">
            <img src="assets/image/sharing.png" />
        </div>
    </div>
</div>

<user-footer></user-footer>