@import '../../../../assets/scss/styles.scss';

.sharing-description-container {
    margin-top: 75px;
    margin-bottom: 75px;

    .title {
        font-size: 3em;
        font-family: $font-heading;
        color: $black-o-7;
        font-weight: bold;
    }

    .description {
        font-family: $font-body;
        color: $black-o-8;
        font-size: 17px;
        padding-right: 20px;
    }

    .btn-invite-friends {
        background-color: $pink;
        color: $white;
        font-size: 18px;
        font-family: $font-heading;
        padding: 10px 40px;
        margin-top: 30px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        margin-top: -25px;
    }
}