<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3>
                <span class="fa-fw open-close">
                    <i class="ti-menu hidden-xs"></i>
                    <i class="ti-close visible-xs"></i>
                </span>
                <span class="hide-menu">Navigation</span>
            </h3>
        </div>
        <ul class="nav" id="side-menu">
            <li class="user-pro">
                <a href="#" class="waves-effect">
                    <img src="../../../assets/images/users/varun.jpg" alt="user-img" class="img-circle">
                    <span class="hide-menu"> Steve Gection </span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/admin/dashboard" class="waves-effect">
                    <i class="mdi mdi-av-timer fa-fw"></i>
                    <span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/admin/volunteers" class="waves-effect">
                    <i class="mdi mdi-run-fast fa-fw"></i>
                    <span class="hide-menu">Volunteer</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/admin/beneficiaries" class="waves-effect">
                    <i class="mdi mdi-account-multiple fa-fw"></i>
                    <span class="hide-menu">Beneficiary</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/admin/medicines" class="waves-effect">
                    <i class="mdi mdi-dropbox fa-fw"></i>
                    <span class="hide-menu">Medicines</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/admin/survey" class="waves-effect">
                    <i class="mdi mdi-chart-bar fa-fw"></i>
                    <span class="hide-menu">Survey</span>
                </a>
            </li>
        </ul>
    </div>
</div>